In [1]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [2]:
import numpy as np
import pandas as pd

In [3]:
new=pd.read_csv("main_data.csv")

In [4]:
n1=new.iloc[:1000,:]

In [5]:
n1

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,John Lasseter,Tom Hanks,Tim Allen,Don Rickles,Animation Comedy Family,toy story,Tom Hanks Tim Allen Don Rickles John Lasseter ...
1,Joe Johnston,Robin Williams,Jonathan Hyde,Kirsten Dunst,Adventure Fantasy Family,jumanji,Robin Williams Jonathan Hyde Kirsten Dunst Joe...
2,Howard Deutch,Walter Matthau,Jack Lemmon,Ann-Margret,Romance Comedy,grumpier old men,Walter Matthau Jack Lemmon Ann-Margret Howard ...
3,Forest Whitaker,Whitney Houston,Angela Bassett,Loretta Devine,Comedy Drama Romance,waiting to exhale,Whitney Houston Angela Bassett Loretta Devine ...
4,Charles Shyer,Steve Martin,Diane Keaton,Martin Short,Comedy,father of the bride part ii,Steve Martin Diane Keaton Martin Short Charles...
...,...,...,...,...,...,...,...
995,Alan Parker,Christine Hargreaves,James Laurenson,Eleanor David,Music,pink floyd: the wall,Christine Hargreaves James Laurenson Eleanor D...
996,Roland Joffé,Sam Waterston,Haing S. Ngor,Craig T. Nelson,War Drama History,the killing fields,Sam Waterston Haing S. Ngor Craig T. Nelson Ro...
997,Lasse Hallström,Anton Glanzelius,Tomas von Brömssen,Anki Lidén,Drama Comedy,my life as a dog,Anton Glanzelius Tomas von Brömssen Anki Lidén...
998,Fred M. Wilcox,Walter Pidgeon,Anne Francis,Leslie Nielsen,Adventure Sci-Fi Action,forbidden planet,Walter Pidgeon Anne Francis Leslie Nielsen Fre...
999,Phil Alden Robinson,Kevin Costner,Amy Madigan,Gaby Hoffmann,Drama Fantasy,field of dreams,Kevin Costner Amy Madigan Gaby Hoffmann Phil A...

In [11]:
vector = cv.fit_transform(n1['comb']).toarray()

In [12]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [7]:
vector.shape
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)

In [8]:
similarity
new[new['movie_title'] == 'toy story'].index[0]

0

In [9]:
def recommend(movie):
    index = new[new['movie_title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].movie_title)
        
    
recommend('sleeper')

annie hall
manhattan
manhattan murder mystery
mighty aphrodite
bananas